.DS_Store
/node_modules/
/packages/*/node_modules
/packages/*/dist/
/packages/*/lib/
/packages/**/*.gitignored.mjs
.bsb.lock
.merlin
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
